@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.container-800 {
  max-width: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#navbarNav {
  font-size: larger;
  font-family: "Kanit", sans-serif;
}

.page-heading {
  font-family: "Kanit", sans-serif;
}

.count {
  text-align: center;
}

.show-card-img {
  max-height: 200px;
  width: auto;
}

.show-img {
  max-width: 200px;
  height: auto;
}

.person-img {
  max-height: 200px;
  width: auto;
}

.card .show-name {
  font-size: larger;
}

.card .episode-name {
  font-size: larger;
}